* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: space-between;
}

.app-header {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  color: aliceblue;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  background-color: #0f2b54;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  gap: 10px;
}

.chat-container section {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-container footer {
  display: flex;
  padding: 10px;
  background-color: #0f2b54;
  border-top: 1px solid #ccc;
  justify-content: center;
  width: 100%;
}

.app-footer {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  color: aliceblue;
  justify-content: center;
  gap: 100px;
}
